html{
    box-sizing: border-box;
}
*,*::after, * ::before{
    background-origin: inherit;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5%;
    justify-content: center;
    background-color: #707070;
    background-image: url("./space.jpg");
}
.box {
    margin: 6.3%;
    width: 20.4%;
    height: 20.4%;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    border-radius: 15%;
    overflow: hidden;
    background-color: black;

 }
 
.box img {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.box img:hover {
    transform: scale(1.61) rotate(70deg);
    filter: brightness(2)
}